@mixin accordion_text($size, $weight, $height, $family, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  font-family: $family;
  color: $color;
}
.accordion {
  .item {
    user-select: none;
    border-bottom: 1px solid #e4e4e4ff;
    margin-bottom: 3%;

    .title {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      span {
        font-size: 26px;
        color: $infoiconcol;
      }
      h5 {
        @include accordion_text(
          24px,
          500,
          28.8px,
          $cardmoduletextbody,
          $font-general
        );
      }
    }
    .content {
      p {
        @include accordion_text(
          16px,
          400,
          24px,
          $font-jakarta-plus,
          $card_module_info
        );
      }
    }
  }
}
