@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap");

$font-jakarta-med: "Plus Jakarta Sans", sans-serif;
$font-jakarta-light: "Plus Jakarta Sans", sans-serif;
$font-be-vietnam: "Be Vietnam Pro", sans-serif;
$font-general: "General Sans", sans-serif;
$font-jakarta-plus: "Plus Jakarta Sans", sans-serif;
