$uicolor: #32bca3;
$uibackcolor: #ebf9f6ff;
$infocolor: #7c7c7c;
$infoiconcol: #1c1c1c;
$cardmoduletextbody: #252525;
$card_module_info: #7c7c7c;
$card_module_icon_color: #32bca3;
$author_info_color: #f9f9f9;
$landing_text_color: #e0e0e0;
$popularcoursestext: #a8a8a8;
$white: #ffffff;
